repositories:
    a-repo-name:
        branch: develop
        blacklist: .git . .. vendor bin .idea
        commands:
            - hostname
            - pwd
    b-repo-name:
        branch: story/12345
        blacklist: .git . .. vendor bin .idea
        commands:
            - hostname
            - pwd
    c-repo-name:
        branch: develop
        blacklist: .git . .. vendor bin .idea
        commands:
            - hostname
            - pwd

paths:
    a-repo-name: /srv/users/pdaw/repositories/a
    b-repo-name: /srv/users/pdaw/repositories/b
    c-repo-name: /srv/users/pdaw/repositories/c

connections:
    con1:
        host: 127.0.0.1
        port: 33022
        user: pdaw
        password: pass

remotes:
    a-repo-name:
        connection: con1
        path: /srv/users/pdaw/sites/a-name/current/
    b-repo-name:
        connection: con1
        path: /srv/users/pdaw/sites/b-name/current/
    c-repo-name:
        connection: con1
        path: /srv/users/pdaw/sites/c-name/current/
