repositories:
    a-repo-name:
        branch: develop
    b-repo-name:
        branch: story/12345
    c-repo-name:
        branch: develop

paths:
    a-repo-name: absolute-path-to-repo1
    b-repo-name: absolute-path-to-repo2
    c-repo-name: absolute-path-to-repo3

remote:
    a-repo-name:
        host: 127.0.0.1
        port: 33022
        user: pdaw
        path: /srv/users/pdaw/sites/a-name/current/
    b-repo-name:
        host: 127.0.0.1
        port: 33022
        user: pdaw
        path: /srv/users/pdaw/sites/b-name/current/
    c-repo-name:
        host: 127.0.0.1
        port: 33022
        user: pdaw
        path: /srv/users/pdaw/sites/c-name/current/
